.jumbotron.jumbotron-fluid {
    background-image:  url('http://i66.tinypic.com/28am9fs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

div.container-fluid h1 { 
    color: rgb(255, 255, 255);
    font-size: 72px;
    font-weight: 300;
}

div.container-fluid p {
    color: rgb(255, 255, 255);
}